<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pet Personality Matcher</title>
</head>
<body>
    <h1>Pet Personality Matcher</h1>
    <a href="/quiz">Move on to the quiz</a>
</body>
</html>